.vscode
.idea

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.db

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Local environment setup
go.work*

# Debugging files
elementum
*.test
/debug
/build

/cmd

# Custom shell scripts

# Local library paths
special*
elementum_library/
C:\\Users\\*